/* Style the header */
.headBox {
  background-color: rgb(73, 73, 201);
  background-position: top;
  height: 200px;
  border-radius: 30px;
}

.griffPfp {
  border-style: solid;
  border-color: lightskyblue;
}