/* Style the header */
.headBox {
  background-color: rgb(73, 73, 201);
  padding: 60px;
  border-radius: 30px;
}

#griffPfp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16%;
}